<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "meta.html" . }}
        <title>{{ .Site.Title }}</title>
        {{ partial "seo.html" . }}

        {{ $favicon := "/favicon.ico" | absURL }}
        <link rel="shortcut icon" href="{{ $favicon }}">

        {{ $script := resources.Get "js/email-obfuscation.js" | minify }}
        <script src="{{ $script.RelPermalink }}"></script>

        {{ $style := resources.Get "css/default.css" | minify }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">

        {{ if eq .Section "posts" }}
            {{ $style := resources.Get "css/posts.css" | minify }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}">
        {{ end }}
    </head>
    <body class="content">
        <header>
            {{ partial "header.html" . }}
        </header>

        <main id="main-content">
            {{ block "main" . }}{{ end }}
        </main>

        <footer class="site-footer">
            {{ partial "footer.html" }}
        </footer>
    </body>
</html>
